body {
    margin: 0;
    font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 3px 2px 5px yellowgreen;
    background: rgba(255, 255, 0, 0.24);
}

::-webkit-scrollbar-thumb {
    background: greenyellow;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}

.header-and-content {
    height: 100vh;
    /* max-height: 100%; */
    width: 100vw;
    max-width: 100%;
    /* overflow-y: auto; */
}


/*...............header.............*/

.header {
    height: 20vh;
    /* width: calc(100% - 40px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    cursor: pointer;
    border: 8px yellow;
    border-style: dashed groove double dotted;
    border-radius: 100%;
    opacity: 0.8;
}

.opac-1:hover {
    opacity: 1;
    transition: all 125ms ease-in-out;
}

.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    opacity: 0.9;
}


/* .........search............ */

.text-and-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-and-input span {
    font-size: 30px;
    font-weight: bolder;
    color: greenyellow;
}

.input-and-search {
    display: flex;
    position: relative;
}

.input-and-search input {
    width: 450px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: 5px dotted yellow;
}

.image {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 3px;
    opacity: 0.5;
}


/* ..............menu............. */

.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    color: yellowgreen;
    font-size: 18px;
    font-weight: bold;
}

.d-none {
    display: none !important;
}

.heart {
    border-top-left-radius: 10px;
}

.menu span:hover {
    color: white;
    transition: all 125ms ease-in;
}


/*........contents...........*/

.contents {
    height: 80vh;
    /* width: 100%; */
    /* overflow-y: auto; */
}


/*........pokemon container...........*/

.pokemon-container {
    min-height: calc(100% - 80px);
    height: fit-content;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*........pokemon card.........*/

.pokemon-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 220px;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: rgb(215, 215, 224) 0px 0px 0px 2px inset, rgba(55, 52, 52, 0.393) 10px -10px 0px -3px, rgba(16, 20, 16, 0.464) 10px -10px;
}

.pokemon-card:hover,
.pokemon-card img:hover {
    transform: scale(1.07);
    transition: all 125ms ease-in-out;
}

.pok-number-and-pic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.pok-name-and-type {
    height: 100%;
}

.pok-number span {
    color: gray;
    font-weight: bolder;
    font-size: 30px;
}


/*.........pokemon card's background color.........*/

.name {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.pok-type {
    margin-top: 30px;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: white;
}


/* .pok-type-search {
    display: flex;
    flex-direction: column;
    height: calc(100% - 21.6px);
} */

.pok-img img {
    width: 200px;
    height: 200px;
}

.grass {
    background-color: #62ca25;
}

.grass-type {
    background-color: #3a7c14;
}

.fire {
    background-color: #EE8130;
}

.fire-type {
    background-color: #c46b27;
}

.water {
    background-color: #6390F0;
}

.water-type {
    background-color: #3668d4;
}

.bug {
    background-color: #A6B91A;
}

.bug-type {
    background-color: #829112;
}

.normal {
    background-color: #A8A77A;
}

.normal-type {
    background-color: #a5a45c;
}

.electric {
    background-color: #F7D02C;
}

.electric-type {
    background-color: #cda817;
}

.ice {
    background-color: #96D9D6;
}

.ice-type {
    background-color: #62dad4;
}

.fighting {
    background-color: #C22E28;
}

.fighting-type {
    background-color: #b01712;
}

.poison {
    background-color: #A33EA1;
}

.poison-type {
    background-color: #951a93;
}

.ground {
    background-color: #E2BF65;
}

.ground-type {
    background-color: #e4b53d;
}

.flying {
    background-color: #A98FF3;
}

.flying-type {
    background-color: #865ff4;
}

.psychic {
    background-color: #F95587;
}

.psychic-type {
    background-color: #f34579;
}

.rock {
    background-color: #B6A136;
}

.rock-type {
    background-color: #b89d19;
}

.ghost {
    background-color: #735797;
}

.ghost-type {
    background-color: #6a4996;
}

.dragon {
    background-color: #6F35FC;
}

.dragon-type {
    background-color: #5a1cf7;
}

.dark {
    background-color: #705746;
}

.dark-type {
    background-color: #744c32;
}

.steel {
    background-color: #B7B7CE;
}

.steel-type {
    background-color: #9a9acf;
}

.fairy {
    background-color: #D685AD;
}

.fairy-type {
    background-color: #d4639b;
}


/*........fullscreen..................*/

.fullscreen-bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.fullscreen {
    width: 600px;
    height: 455px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: transparent 0px 0px 0px 2px inset, transparent 10px -10px 0px -3px, rgba(31, 35, 31, 0.3) 10px -10px;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 10px;
}

.close-btn img {
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.8;
    object-fit: contain;
}

.next-and-previous-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 60px;
}

.next-and-previous-btns img {
    cursor: pointer;
    opacity: 0.8;
}

.name-and-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    font-weight: bolder;
    height: 60px;
    font-size: 20px;
}

.name-fullscreen {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}

.number-fullscreen {
    font-weight: bolder;
    font-size: 20px;
}

.type-and-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
    height: 60px;
}

.types-fullscreen {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.grass-fullscreen,
.grass-fullscreen2 {
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: white;
}

.heart {
    cursor: pointer;
    opacity: 0.9;
    width: 48px;
}

.heart:hover {
    opacity: 1;
    transition: all 225ms ease-in-out;
}

.big-img {
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

.big-img img {
    width: 300px;
    height: 300px;
    margin-top: -100px;
}

.bottom {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 260px;
    border-radius: 40px;
    margin-top: -30px;
    box-shadow: rgb(215 215 224) 0px 0px 0px 2px inset, rgba(127, 120, 120, 0.39) 10px -10px 0px -3px, rgba(55, 67, 55, 0.46) 10px -10px;
}

.title {
    min-height: 60px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: greenyellow;
    padding: 0 15px;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

.title-elements:hover {
    cursor: pointer;
    color: white;
    transition: all 125ms ease-in-out;
}

.bottom-content {
    height: 200px;
    overflow-y: hidden;
}


/*..........table...........*/

.stat-container,
.about-tbl {
    overflow-y: auto;
    width: calc(100% - 30px);
    height: 94%;
    padding: 0 15px;
}

.stat-container::-webkit-scrollbar {
    display: none;
}

.tbl-about,
.stat {
    color: white;
    width: 100%;
}

.tbl-about tr,
.stat tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    height: 40px;
}


/*..........moves..........*/

.moves {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    overflow-y: auto;
}

.moves::-webkit-scrollbar {
    display: none;
}

.moves-span {
    border-radius: 100px;
    padding: 5px;
    border: 2px solid white;
    margin: 5px;
}


/*........abilities..........*/

#tdAbility {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
}

.ability-bg {
    background-color: rgb(131, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-radius: 100px;
    padding: 5px;
}


/*..........imprint & privacy..........*/

.imprint,
.privacy {
    height: 100%;
    overflow-y: auto;
    padding: 0 80px;
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.imprint a,
.privacy a {
    color: greenyellow;
}


/*..........responsive..........*/

@media (max-width: 1290px) {
    .logo img {
        width: 90px;
        height: 90px;
    }
    .text-and-input span {
        font-size: 25px;
    }
    .input-and-search input {
        width: 400px;
    }
}

@media (max-width: 1230px) {
    .heart {
        width: 32px;
    }
    .logo img {
        width: 80px;
        height: 80px;
    }
    .input-and-search input {
        width: 350px;
        height: 25px;
    }
}

@media (max-width: 1170px) {
    .header {
        padding: 20px 0;
        width: 100%;
    }
    .header,
    .text-and-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .header {
        height: 31vh;
    }
    .menu {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        margin: 10px 0 !important;
    }
    .imprint,
    .privacy {
        padding: 0 20px;
        /* overflow-x: hidden; */
    }
    .privacy h1 {
        font-size: 28px;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 620px) {
    .input-and-search input {
        width: 250px;
        height: 20px;
        font-size: 16px;
    }
    .logo img {
        width: 70px;
        height: 70px;
    }
    .text-and-input span {
        font-size: 20px;
    }
    .image {
        top: 0;
        right: 0;
    }
}

@media (max-width: 440px) {
    .menu {
        font-size: 15px;
    }
    .pokemon-card {
        width: 260px;
    }
    .pok-img img {
        width: 140px;
        height: 140px;
    }
    .name {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .pok-number span {
        font-size: 20px;
    }
    .pokemon-container {
        overflow-x: hidden;
    }
}

@media (max-width: 660px) {
    .fullscreen {
        width: 500px;
    }
    .bottom {
        width: 500px;
    }
    .big-img img {
        width: 250px;
        height: 250px;
        margin-top: -50px;
    }
}

@media (max-width: 530px) {
    .fullscreen-bg {
        padding: 90px;
    }
    .fullscreen {
        width: 320px;
        height: 400px;
    }
    .bottom {
        width: 320px;
        height: 220px;
    }
    .big-img img {
        width: 190px;
        height: 190px;
        margin-top: -10px;
    }
    .close-btn img {
        padding: 5px;
    }
    .next-and-previous-btns img {
        width: 32px;
    }
    .name-and-number,
    .type-and-like {
        height: 50px !important;
    }
    .name-fullscreen,
    .number-fullscreen {
        font-size: 18px;
    }
    .next-and-previous-btns,
    .close-btn {
        height: 50px;
    }
    .types-fullscreen {
        width: 125px;
    }
    .grass-fullscreen,
    .grass-fullscreen2 {
        width: 50px;
        padding: 5px;
    }
    .title {
        font-size: 15px;
    }
    .tbl-about,
    .stat {
        font-size: 12px;
    }
    .tbl-about tr,
    .stat tr {
        height: 30px;
    }
    .moves-span {
        padding: 3px;
        margin: 3px;
        font-size: 12px;
    }
    #tdAbility {
        width: 200px;
    }
    .ability-bg {
        padding: 2px;
        font-size: 10px;
    }
}